.header {
   border-bottom: 1px solid #dedddd;
   height: 72px;
   display: flex;
   align-items: center;
   margin-bottom: 40px;

   .content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navElem {
         text-decoration: none;
      }
   }
}
