.filter {
  .components {
    & > * {
      margin-bottom: 32px;
    }
  }

  .footer {
    padding: 16px 0;
  }

  .formItem {
    margin-bottom: 24px;
    .label {
      font-size: 15px;
      min-width: 200px;
    }
  }
}
