.header {
  border-bottom: 1px solid #edecec;
  height: 72px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);

  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;

    p {
      font-size: 20px;
      color: #232323;
      font-weight: 700;
    }
  }

  .menu {
    display: flex;

    .navElem {
      color: #232323;
      font-size: 15px;
    }
  }

  .action {
    .logout {
      &:hover {
        color: red;
        border-color: red;
      }
    }
  }
}
