@import '/src/styles/variables.scss';

.home {
  margin: 60px 0;

  .search {
    .header {
      margin-bottom: 34px;

      .title {
        text-align: center;
      }
    }

    .content {
      display: flex;
      gap: 16px;

      .button {
        width: 180px;
        height: 41px;
        align-self: flex-end;
      }

      .textarea {
        background-color: $blue-light;

        &.error {
          background-color: #fff2f0;
          &::placeholder {
            color: red;
          }
        }
      }
    }
  }
}
