@import "/src/styles/variables.scss";

.home {
   .search {
      margin-top: 100px;

      .header {
         margin-bottom: 34px;

         .title {
            text-align: center;
            font-weight: 700 !important;
         }
      }

      .content {
         display: flex;
         gap: 16px;

         .button {
            width: 180px;
            height: 41px;
            align-self: flex-end;
         }

         .textarea {
            background-color: $inputColor;
         }
      }
   }
}
