.list {
  .content {
    margin-top: 24px;
  }

  .ribbon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    .skeleton {
      h3 {
        border-radius: 35px !important;
      }
    }
  }
}
